.header {
    display: grid;
    padding: 92px 49px 92px 55px;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}
  
.header__links-list {
    display: flex;
    gap: 33px;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    font-size: 18px;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    width: 136px;
    justify-self: center;
}

.address {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-size: 18px;
    line-height: 24.3px;
    justify-self: end;
    max-width: 240px;
}

.address__tel {
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    width: fit-content;
}

.address__mail {
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    width: fit-content;
}

.header__address {
    font-style: normal;
}

.cover {
    padding: 160px 50px 0 50px;
    display: flex;
    flex-direction: column;
    background-image: url(../images/cover.jpg);
    gap: 121px;
    background-size: cover;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.6);
}

.aligned-text {
    display: block;
    font-style: normal;
    font-size: 100px;
    font-weight: 700;
    line-height: 124%;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    z-index: 3;
}
.cover__title {
    z-index: 3;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
    line-height: 114%;
}

.cover__description {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 78px;
    padding-bottom: 50px;
    z-index: 3;
}

.cover__description-text {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18px;
}

.bet-button {
    color: #FFFFFF;
    background-color: transparent;
    text-transform: uppercase;
    border: 1px solid #FFFFFF;
    padding: 17px 32px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.lots {
    padding: 180px 50px 0 50px;
}

.lots__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    height: 47px;
    margin-bottom: 27px;
    padding-left: 40px;
}

.lots__card-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 25px;
    flex-wrap: wrap;
}

.lots__card-list-item {
    width: 430px;
    min-height: 450px;
    margin-bottom: 30px;
    flex-grow: 1;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
    text-decoration-skip-ink: none;
}

.card {
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    font-style: normal;
    position: relative;
}

.card__title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-decoration: underline;
    text-transform: uppercase;
    text-decoration-skip: none;
    color: #FFFFFF;
    padding: 50px 40px 0 40px;
    z-index: 3;
}

.card__text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0 40px 50px 40px;
    z-index: 3;
}

.card_card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.lots__look-more-link {
    font-size: 20px;
    margin: 0 40px;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    display: block;
    width: fit-content;
}

.about {
    padding: 180px 40px 0 40px;
    display: grid;
    grid-template-columns: 1fr 71%;
    padding-left: 145px;
}

.about__logo {
    width: 240px;
    background-color: #000000;
    border-radius: 240px;
    padding: 63px 46px;
    margin-left: 25px;
}

.about__logo-image {
    width: 100%;
}

.about__title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 100px;
    padding-top: 100px;
}

.about__text {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}



.footer {
    display: flex;
    padding: 185px 50px 90px 50px;
    justify-content: space-between;
    align-self: start;
}

.footer__menu-list {
    list-style: none;
    text-align: center;
    font-size: 18px;
}

.footer__menu-link {
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    width: fit-content;
}

.footer__menu-link_active {
    text-decoration: none;
    border-bottom: none;
}

.footer__social-list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.footer__social-icon {
    width: 48px;
}